{% extends "base.html" %}
{% load adhoc_posts %}

{% block page_title %}{{ title }}{% endblock %}
{% block features %}
<div id="features_container">
{% if features %}
<ul id="features" class="unstyled clearfix">
  {% for f in features %}
  <li class="{% cycle '' '' 'last' %}">
    <a href="{{ f.post.get_absolute_url }}"><img src="{{ f.image.feature_image.url }}" alt="{{ f }}" width="260" height="260"/></a>
    <div class="text">
      <h2><a href="{{ f.post.get_absolute_url }}">{% autoescape off %}{{ f }}{% endautoescape %}</a></h2>
      {% if f.byline %}<p>{% autoescape off %}{{ f.byline }}{% endautoescape %}</p>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if recent_breaking or recent_features or recent_favorites %}
<div class="recent_stories_container clearfix">
{% if recent_breaking %}
<div class="recent_stories">
  <ul class="unstyled">
    {% for p in recent_breaking %}
    <li><a href="{{ p.get_absolute_url }}">{% if p.formatted_title %}{% autoescape off %}{{ p.formatted_title }}{% endautoescape %}{% else %}{{ p.title }}{% endif %}</a></li>
    {% endfor %}
    <li class="more"><a href="{% url posts_by_tag tag='breaking' %}">More Breaking</a></li>
  </ul>
</div>
{% endif %}

{% if recent_favorites %}
<div class="recent_stories">
  <ul class="unstyled">
    {% for p in recent_favorites %}
    <li><a href="{{ p.get_absolute_url }}">{% if p.formatted_title %}{% autoescape off %}{{ p.formatted_title }}{% endautoescape %}{% else %}{{ p.title }}{% endif %}</a></li>
    {% endfor %}
    <li class="more"><a href="{% url posts_by_tag tag='favorites' %}">More Favorites</a></li>
  </ul>
</div>
{% endif %}

{% if recent_features %}
<div class="recent_stories last">
  <ul class="unstyled">
    {% for p in recent_features %}
    <li><a href="{{ p.get_absolute_url }}">{% if p.formatted_title %}{% autoescape off %}{{ p.formatted_title }}{% endautoescape %}{% else %}{{ p.title }}{% endif %}</a></li>
    {% endfor %}
    <li class="more"><a href="{% url posts_by_tag tag='features' %}">More Features</a></li>
  </ul>
</div>
{% endif %}

</div>
{% endif %}
</div>
{% endblock %}

{% block content %}
{% if title %}
<h1 class="subtitle">{{ title }}</h1>
{% endif %}

<div id="posts-list">   
  <!-- Modal for faceblog -->
  <div id="facebook-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fb-modal-label" aria-hidden="true">
    <div class="modal-header">
      <a class="facebook-close" data-dismiss="modal" aria-hidden="true">×</a>
      <h3 id="fb-modal-label">Like (or share) us on facebook! Please!!!!</h3>
    </div>
    <div class="modal-body">
        <div class="fb-like" data-href="http://www.facebook.com/adhocfm" data-width="300" colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="modal-footer">
      <button class="btn" id="facebook-modal-close" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

{% for object in object_list %}
<article>
  {% include "blog/post_top.html" %}
  {% if object|read_more %}<a href="{{ object.get_absolute_url }}" class="read_more">Read More</a>{% endif %}
<div class="list_share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ object.get_permalink }}">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false" data-href="{{ object.get_permalink }}"></div>
</div>
</article>
{% empty %}
<article><h3>Sorry, no posts matched.</h3></article>
{% endfor %}
</div>


<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous">
  <a href="?page={{ page_obj.previous_page_number }}">&larr; Newer</a>
  {% endif %}

  {% if page_obj.has_next %}
  <li class="next">
  <a href="?page={{ page_obj.next_page_number }}">Older &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endblock %}

{% block javascript %}
  <script type='text/javascript'>
    $(document).ready(function() {

      var facebook_plea_percentage = Math.random();
      if (facebook_plea_percentage <= 0.2) {
        //$('#facebook-modal').modal({
        //  'show': true
        //});
      }

      var facebook_flash_percentage = Math.random();
      if (facebook_flash_percentage <= 0.33) {
        var post_list = $('#posts-list');
        var article = '<div class="facebook-article" id="main-facebook-article">Please like us on facebook!!!' +
                      '<a class="facebook-close" id="main-facebook-closer">×</a>' +
                      '<div class="fb-like" data-href="http://www.facebook.com/adhocfm" data-width="300" colorscheme="light" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>' +
                      '</div>';
        //post_list.prepend(article);

        var main_facebook = $('#main-facebook-article');
        $('#main-facebook-closer').click(function() {
          main_facebook.remove();
          clearInterval(borderChanger);
        });

        function random_color() {
          var red = Math.floor(Math.random() * 255);
          var green = Math.floor(Math.random() * (255 - red/2));
          var blue = Math.floor(Math.random() * (255 - green/2));
          return 'rgb(' + red + ', ' + green + ', ' + blue + ')'
        }

        var has_border = false;
        var borderChanger = setInterval(function() {
          if (has_border) {
            main_facebook.css('border', '3px solid white');
          }
          else {
            main_facebook.css('border', '3px dashed ' + random_color());
          }
          has_border = !has_border;
        }, 350);
      }
    });
  </script>
{% endblock %}
