{% extends "layout.html" %}
{% load events %}

{% block page_title %}Upcoming Events{% endblock %}

{% block content_rows %}
  <div class="row">
    <div class="span4"> 
      {% for event in events %}
        {% if forloop.counter0|divisibleby:3 %}
          {% event_box event %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="span4"> 
      {% for event in events %}
        {% if forloop.counter0|add:"-1"|divisibleby:3 %}
          {% event_box event %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="span4"> 
      {% for event in events %}
        {% if forloop.counter0|add:"-2"|divisibleby:3 %}
          {% event_box event %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% if not events %}
    <h1 style="text-align: center; padding: 1em; background: white;">No events to show just yet.</h1>
  {% endif %}
{% endblock %}
