<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block meta_description %}
      <meta property="og:title" content="AdHoc" />
      <meta property="og:image" content="http://adhoc.fm/static/images/logo.png" />
      <meta property="og:url" content="http://adhoc.fm/" />
    {% endblock %}

    <title>AdHoc {% block page_title %}{% endblock %}</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	 <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	 <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css" />
         <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico?v=6"/>
   {% block css %}{% endblock css %}
  </head>

  <body class="simple">
    <div class="container">
    {% block content %}{% endblock content %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
